<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                <li class="page-item" [ngClass]="{'disabled' : currentPage == 1}">
                    <a class="page-link" (click)="firstPage()" href="javascrit:void">
                       {{ 'PAGINATOR.FIRST' | translate }} 
                    </a>
                </li>
                <li class="page-item" [ngClass]="{'disabled' : currentPage == 1}">
                    <a class="page-link" (click)="previousPage()" href="javascrit:void">
                        {{ 'PAGINATOR.PREVIOUS' | translate }} 
                    </a>
                </li>
                <li *ngIf="numberDisplay(currentPage == 1 ? 1 : currentPage == maxPage ? maxPage-2 : currentPage-1)" class="page-item" [ngClass]="{'active' : isActive(currentPage == 1 ? 1 : currentPage == maxPage ? maxPage-2 : currentPage-1)}">
                    <a class="page-link" (click)="getFromPage(currentPage == 1 ? 1 : currentPage == maxPage ? maxPage-2 : currentPage-1)" href="javascrit:void">{{currentPage == 1 ? 1 : currentPage == maxPage ? maxPage-2 : currentPage-1}}</a>
                </li>
                <li *ngIf="numberDisplay(currentPage == 1 ? 2 : currentPage == maxPage ? maxPage-1 : currentPage)"  class="page-item" [ngClass]="{'active' : isActive(currentPage == 1 ? 2 : currentPage == maxPage ? maxPage-1 : currentPage)}">
                    <a class="page-link" (click)="getFromPage(currentPage == 1 ? 2 : currentPage == maxPage ? maxPage-1 : currentPage)" href="javascrit:void">{{currentPage == 1 ? 2 : currentPage == maxPage ? maxPage-1 : currentPage}}</a>
                </li>
                <li *ngIf="numberDisplay(currentPage == 1 ? 3 : currentPage == maxPage ? maxPage : currentPage+1)" class="page-item" [ngClass]="{'active' : isActive(currentPage == 1 ? 3 : currentPage == maxPage ? maxPage : currentPage+1)}">
                    <a class="page-link" (click)="getFromPage(currentPage == 1 ? 3 : currentPage == maxPage ? maxPage : currentPage+1)" href="javascrit:void">{{currentPage == 1 ? 3 : currentPage == maxPage ? maxPage : currentPage+1}}</a>
                </li>
                <li class="page-item" [ngClass]="{'disabled' : currentPage == maxPage}">
                    <a class="page-link" (click)="nextPage()" href="javascrit:void">
                        {{ 'PAGINATOR.NEXT' | translate }} 
                    </a>
                </li>
                <li class="page-item" [ngClass]="{'disabled' : currentPage == maxPage}">
                    <a class="page-link" (click)="lastPage()" href="javascrit:void">
                        {{ 'PAGINATOR.LAST' | translate }} 
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

