<br/>
<h2>Retrouver mon mot de passe</h2>
<br/>
<p>Veuillez renseigner votre E-mail afin que nous puissions vous envoyer un nouveau mot de passe.</p>
<br/>
<ng-container *ngIf="MessageOK != '' || MessageNOK != ''">
    <div class="container mx-auto" class="alert alert-success" *ngIf="MessageOK != ''">{{MessageOK}}</div>
    <div class="container mx-auto" class="alert alert-danger" *ngIf="MessageNOK != ''">{{MessageNOK}}</div>
    <br/>
</ng-container>
<form>
    <div class="col-sm-12 form-group row">
        <label class="col-sm-4 col-form-label">Mon E-mail :</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" value="{{Mail}}" [(ngModel)]="Mail" name="Mail">
            <br *ngIf="MessageMail != ''"/>
            <div *ngIf="MessageMail != ''" class="alert alert-danger" role="alert">
                {{MessageMail}}
              </div>
        </div>
    </div>
    <br/>
    <div class="col-sm-12 mx-auto form-group row" style="width: 300px;">
        <button (click)="GenererPassword()" type="submit" class=" btn btn-secondary btn-lg">Envoyer</button>
    </div>
</form>