<div class="container mx-auto col-sm-7">
    <br/>
    <h2>{{ 'CHANGEPASSWORD.TITLE' | translate }}</h2>
    <br/>
    <ng-container *ngIf="displaySuccess || displayError">
        <div class="container mx-auto" class="alert alert-success" *ngIf="displaySuccess">{{ 'SUCCESSMESSAGES.CHANGE' | translate }}</div>
        <div class="container mx-auto" class="alert alert-danger" *ngIf="displayError">{{ 'ERRORMESSAGES.SAVAGEERROR' | translate }}</div>
        <br/>
    </ng-container>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <!-- currentPassword field -->
        <div class="col-sm-12 form-group row">
            <label class="col-sm-5 col-form-label">
                {{ 'CHANGEPASSWORD.ACTUALPASSWORD' | translate }} :
            </label>
            <div class="col-sm-7">
                <input type="password" class="form-control" formControlName="currentPassword">
            </div>
        </div>
        <!-- currentPassword validation messages -->
        <div *ngIf="changePasswordForm.controls.currentPassword.invalid && (changePasswordForm.controls.currentPassword.dirty || changePasswordForm.controls.currentPassword.touched)" class="alert alert-danger">
            <div *ngIf="changePasswordForm.controls.currentPassword.errors?.required">
                {{ 'ERRORMESSAGES.VALIDATORS.PASSWORDREQUIRED' | translate }}
            </div>
            <div *ngIf="changePasswordForm.controls.currentPassword.errors?.CheckPassword">
                {{ 'ERRORMESSAGES.VALIDATORS.WRONGPASSWORD' | translate }}
            </div>
        </div>
        <!-- Password field -->
        <div class="col-sm-12 form-group row">
            <label class="col-sm-5 col-form-label">{{ 'CHANGEPASSWORD.NEWPASSWORD' | translate }} : </label>
            <div class="col-sm-7">
                <input type="password" class="form-control" formControlName="password">
            </div>
        </div>
        <!-- Password validation Message -->
        <div *ngIf="changePasswordForm.controls.password.invalid && (changePasswordForm.controls.password.dirty || changePasswordForm.controls.password.touched)" class="alert alert-danger">
            <div *ngIf="changePasswordForm.controls.password.errors?.required">
                {{ 'ERRORMESSAGES.VALIDATORS.PASSWORDREQUIRED' | translate }}
            </div>
            <div *ngIf="changePasswordForm.controls.password.errors?.minlength">
                {{ 'ERRORMESSAGES.VALIDATORS.PASSWORDMIN' | translate }}
            </div>
            <div *ngIf="changePasswordForm.controls.password.errors?.maxlength">
                {{ 'ERRORMESSAGES.VALIDATORS.PASSWORDMAX' | translate }}
            </div>
        </div>
        <!-- Confirm password field -->
        <div class="col-sm-12 form-group row">
            <label class="col-sm-5 col-form-label">{{ 'CHANGEPASSWORD.CONFIRMPASSWORD' | translate }} :</label>
            <div class="col-sm-7">
                <input type="password" class="form-control" formControlName="passwordVerif">
            </div>
        </div>
        <!-- Confirm password Validation Message-->
        <div *ngIf="changePasswordForm.controls.passwordVerif.invalid && (changePasswordForm.controls.passwordVerif.dirty || changePasswordForm.controls.passwordVerif.touched)" class="alert alert-danger">
            <div *ngIf="changePasswordForm.controls.passwordVerif.errors.required">
                {{ 'ERRORMESSAGES.VALIDATORS.PASSWORDREQUIRED' | translate }}
            </div>
        </div>
        <div *ngIf="changePasswordForm.errors?.PasswordMatch && (changePasswordForm.touched || changePasswordForm.dirty)" class="cross-validation-error-message alert alert-danger">
            {{ 'ERRORMESSAGES.VALIDATORS.PASSWORDMATCHING' | translate }}
        </div>
        <!-- Submit -->
        <br/>
        <div class="col-sm-12 mx-auto form-group row" style="width: 300px;">
            <button type="submit" [disabled]="!changePasswordForm.valid" class=" btn btn-secondary btn-lg">{{ 'KEYWORD.VALID' | translate }}</button>
        </div>
    </form>
</div>