<!-- Message Error/Success -->
<br *ngIf="Success != undefined"/>
<div class="container mx-auto" class="alert alert-success" *ngIf="Success != undefined && Success">{{ 'SUCCESSMESSAGES.REGISTER' | translate }}</div>
<div class="container mx-auto" class="alert alert-danger" *ngIf="Success != undefined && !Success">{{ 'ERRORMESSAGES.TRYAGAIN' | translate }}</div>
<!-- Formulaire d'inscription -->
<div class="container mx-auto col-sm-7">
    <br/>
    <h4 class="mx-auto" style="width: 300px">{{ 'INSCRIPTION.TITLE' | translate }}</h4>
    <br/>
    <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
        <!-- Champ Pseudo -->
        <div class="col-sm-12 form-group row">
            <label class="col-sm-4 col-form-label">{{ 'KEYWORD.USERNAME' | translate }} :</label>
            <div class="col-sm-8">
                <input id="username" type="text" class="form-control" formControlName="username">
            </div>
        </div>
        <!-- Message validation username -->
        <div *ngIf="inscriptionForm.controls.username.invalid && (inscriptionForm.controls.username.dirty || inscriptionForm.controls.username.touched)" class="alert alert-danger">
            <div *ngIf="inscriptionForm.controls.username.errors.required">
                {{ 'ERRORMESSAGES.VALIDATORS.USERNAMEREQUIRED' | translate }}
            </div>
            <div *ngIf="inscriptionForm.controls.username.errors.minlength">
                {{ 'ERRORMESSAGES.VALIDATORS.USERNAMEMIN' | translate }}
            </div>
            <div *ngIf="inscriptionForm.controls.username.errors.maxlength">
                {{ 'ERRORMESSAGES.VALIDATORS.USERNAMEMAX' | translate }}
            </div>
            <div *ngIf="inscriptionForm.controls.username.errors?.PseudoExist">
                {{ 'ERRORMESSAGES.VALIDATORS.USERNAMETAKEN' | translate }}
            </div>
        </div>
        <!-- Champ E-mail -->
        <div class="col-sm-12 form-group row">
            <label class="col-sm-4 col-form-label">{{ 'KEYWORD.MAIL' | translate }} :</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" formControlName="email">
            </div>
        </div>
        <!-- Message Validation E-mail -->
        <div *ngIf="inscriptionForm.controls.email.invalid && (inscriptionForm.controls.email.dirty || inscriptionForm.controls.email.touched)" class="alert alert-danger">
            <div *ngIf="inscriptionForm.controls.email.errors.required">
                {{ 'ERRORMESSAGES.VALIDATORS.MAILREQUIRED' | translate }}
            </div>
            <div *ngIf="inscriptionForm.controls.email.errors.emailFormat">
                {{ 'ERRORMESSAGES.VALIDATORS.MAILFORMAT' | translate }}
            </div>
            <div *ngIf="inscriptionForm.controls.email.errors?.MailExist && (inscriptionForm.touched || inscriptionForm.dirty)">
                {{ 'ERRORMESSAGES.VALIDATORS.MAILTAKEN' | translate }} {{ 'ERRORMESSAGES.VALIDATORS.RETRIEVEINFO' | translate }} : <a class="link" routerLink='/RetrievePassword'>{{ 'KEYWORD.CLICKHERE' | translate }}</a> 
            </div>
        </div>
        <!-- Champ Vérification E-mail -->
        <div class="col-sm-12 form-group row">
            <label class="col-sm-4 col-form-label">{{ 'INSCRIPTION.MAIL' | translate }} :</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="emailVerif">
            </div>
        </div>
        <!-- Message Validation Vérification E-mail -->
        <div *ngIf="inscriptionForm.controls.emailVerif.invalid && (inscriptionForm.controls.emailVerif.dirty || inscriptionForm.controls.emailVerif.touched)" class="alert alert-danger">
            <div *ngIf="inscriptionForm.controls.emailVerif.errors.required">
                {{ 'ERRORMESSAGES.VALIDATORS.MAILREQUIRED' | translate }}
            </div>
        </div>
        <div *ngIf="inscriptionForm.errors?.EmailMatch && (inscriptionForm.touched || inscriptionForm.dirty)" class="cross-validation-error-message alert alert-danger">
            {{ 'ERRORMESSAGES.VALIDATORS.MAILMATCH' | translate }}
        </div>
        <!-- Champ Password -->
        <div class="col-sm-12 form-group row">
            <label class="col-sm-4 col-form-label">{{ 'KEYWORD.PASSWORD' | translate }} :</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" formControlName="password">
            </div>
        </div>
        <!-- Message Validation Password -->
        <div *ngIf="inscriptionForm.controls.password.invalid && (inscriptionForm.controls.password.dirty || inscriptionForm.controls.password.touched)" class="alert alert-danger">
            <div *ngIf="inscriptionForm.controls.password.errors.required">
                {{ 'ERRORMESSAGES.VALIDATORS.PASSWORDREQUIRED' | translate }}
            </div>
            <div *ngIf="inscriptionForm.controls.password.errors.minlength">
                {{ 'ERRORMESSAGES.VALIDATORS.PASSWORDMIN' | translate }}
            </div>
            <div *ngIf="inscriptionForm.controls.password.errors.maxlength">
                {{ 'ERRORMESSAGES.VALIDATORS.PASSWORDMAX' | translate }}
            </div>
        </div>
        <!-- Champ Vérification Password -->
        <div class="col-sm-12 form-group row">
            <label class="col-sm-4 col-form-label">{{ 'INSCRIPTION.PASSWORD' | translate }} :</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" formControlName="passwordVerif">
            </div>
        </div>
        <!-- Message Validation Vérification Password -->
        <div *ngIf="inscriptionForm.controls.passwordVerif.invalid && (inscriptionForm.controls.passwordVerif.dirty || inscriptionForm.controls.passwordVerif.touched)" class="alert alert-danger">
            <div *ngIf="inscriptionForm.controls.passwordVerif.errors.required">
                {{ 'ERRORMESSAGES.VALIDATORS.PASSWORDREQUIRED' | translate }}
            </div>
        </div>
        <div *ngIf="inscriptionForm.errors?.PasswordMatch && (inscriptionForm.touched || inscriptionForm.dirty)" class="cross-validation-error-message alert alert-danger">
            {{ 'ERRORMESSAGES.VALIDATORS.PASSWORDMATCHING' | translate }}
        </div>
        <!-- Bouton de Validation -->
        <br/>
        <div class="col-sm-12 mx-auto form-group row" style="width: 300px;">
            <button type="submit" [disabled]="!inscriptionForm.valid" class=" btn btn-secondary btn-lg">{{ 'INSCRIPTION.NOW' | translate }}</button>
        </div>
    </form>
</div>