<br/>
<hr/>
<div class="form-group row">
    &nbsp;&nbsp;<h3>Selections de tri : </h3>&nbsp;&nbsp;&nbsp;&nbsp; 
    <button (click)="ShowHelp()" type="button" class="btn btn-light dropdown-toggle">
        <ng-container *ngIf="!Show">Afficher l'aide</ng-container>
        <ng-container *ngIf="Show">Fermer l'aide</ng-container>
    </button>
</div>
<hr/>
<div class="help" *ngIf="Show">
    <strong>Utilisation de la recherche :</strong>
    <br/><br/>
    Si vous cliquez directement sur "Chercher" Vous aurez la liste complète de tous les enregistrements.<br/>
    Si vous souhaitez chercher des stratégies sur un Boss particulier :<br/>
    1 - Sélectionnez un continent + une zone + un boss.<br/>
    2 - Sélectionner si vous le souhaitez une ou plusieurs classes
    <ng-container *ngIf="accessUser">
        <br/><br/>
        Vous pouvez également , si vous avez enregistré une team perso dans Mes infos>Mes teams persos :<br/>
        1 - Selectionnez votre team.<br/>
        2 - Selectionnez le boss.<br/>
        La recherche s'effectuera automatiquement sur la zone et les classes sélectionnées dans votre team.
    </ng-container>
    <hr/>
</div>


<form [formGroup]="SearchFormWithTeam" (ngSubmit)="onSubmit()" *ngIf="accessUser" class="form-group row">
    <ng-container *ngIf="selectMesTeams.length != 0">
        <label class="col-form-label col-sm-2">Choisir sa team</label>
        <select id="Team" class="form-control col-sm-2" (change)="GetBossViaTeam(C)" #C formControlName="Team">
            <option value=""></option>
            <option *ngFor="let MaTeam of selectMesTeams" value={{MaTeam.Id}}>{{MaTeam.NomTeam}}</option>
        </select>
        <label class="col-sm-1 col-form-label">Boss</label>
        <select class="form-control col-sm-3" formControlName="Boss">
            <option value=""></option>
            <option *ngFor="let boss of selectBoss" value={{boss}}>{{boss}}</option>
        </select>
        <button type="submit" style="margin-left:30px;width:100px;" [disabled]="!SearchFormWithTeam.valid" class=" btn btn-danger btn-sm">Valider</button>
    </ng-container>
    <ng-container *ngIf="selectMesTeams.length == 0">
        <p>Vous n'avez pas encore de team favorite. Si vous souhaitez en créer afin de simplifier la recherche de stratégie : <a routerLink='/prefs'>C'est par ici!</a></p>
    </ng-container>
</form>
<div *ngIf="SearchFormWithTeam.errors?.BossIsNeeded && (SearchFormWithTeam.touched || SearchFormWithTeam.dirty)" class="cross-validation-error-message alert alert-danger">
    Le boss doit être sélectionné.
</div>


<form [formGroup]="SearchForm" (ngSubmit)="onSubmit()" *ngIf="SearchFormWithTeam.value.Team == ''">
<hr/>
    <div class="form-group row">
        <!-- Select Continent -->
        <label class="col-sm-2 col-form-label">Continent : </label>
        <select id="Continent" class="form-control col-sm-2" (change)="GetZones(C)" #C formControlName="Continent">
            <option value=""></option>
            <option *ngFor="let elem of selectContinent" value="{{elem}}">{{elem}}</option>
        </select>
        <!-- Select Zone -->
        <label class="col-sm-1 col-form-label">Zone : </label>
        <select id="Zone" class="form-control col-sm-3" (change)="GetBoss(C,Z)" #Z formControlName="Zone">
            <option value=""></option>
            <option *ngFor="let elem of selectZone" value="{{elem}}">{{elem}}</option>
        </select>
        <!-- Select Boss -->
        <label class="col-sm-1 col-form-label">Boss : </label>
        <select id="Boss" class="form-control col-sm-3"  formControlName="Boss">
            <option value=""></option>
            <option *ngFor="let elem of selectBoss" value="{{elem}}">{{elem}}</option>
        </select>
    </div>
    <div *ngIf="SearchForm.errors?.ZoneIsNeeded && (SearchForm.touched || SearchForm.dirty)" class="cross-validation-error-message alert alert-danger">
        La zone doit être sélectionnée.
    </div>
    <div *ngIf="SearchForm.errors?.BossIsNeeded && (SearchForm.touched || SearchForm.dirty)" class="cross-validation-error-message alert alert-danger">
        Le boss doit être sélectionné.
    </div>
    <div class="form-group row">
        <!-- Select Classe 1 -->
        <div class="col-sm-5 row">
            <label class="col-sm col-form-label">Classe 1 : </label>
            <select id="Classe1" class="form-control col-sm" formControlName="Classe1">
                <option value=""></option>
                <option *ngFor="let elem of selectClasse" value="{{elem.Id}}">{{elem.NomFR}}</option>
            </select>
        <!-- Select Classe 2 -->
            <label class="col-sm col-form-label">Classe 2 : </label>
            <select id="Classe2" class="form-control col-sm"  formControlName="Classe2">
                <option value=""></option>
                <option *ngFor="let elem of selectClasse" value="{{elem.Id}}">{{elem.NomFR}}</option>
            </select>
        </div>
        <!-- Select Classe 3 -->
        <div class="col-sm-5 row">
            <label class="col-sm col-form-label">Classe 3 : </label>
            <select id="Classe3" class="form-control col-sm"  formControlName="Classe3">
                <option value=""></option>
                <option *ngFor="let elem of selectClasse" value="{{elem.Id}}">{{elem.NomFR}}</option>
            </select>
        <!-- Select Classe 4 -->
            <label class="col-sm col-form-label">Classe 4 : </label>
            <select id="Classe4" class="form-control col-sm"  formControlName="Classe4">
                <option value=""></option>
                <option *ngFor="let elem of selectClasse" value="{{elem.Id}}">{{elem.NomFR}}</option>
            </select>
        </div>
        <div class="col-sm-2 row">
            <button type="submit"  style="margin-left:30px;width:100px;" class=" btn btn-danger btn-sm" [disabled]="!SearchForm.valid">Valider</button>
        </div>
    </div>
</form>   
<hr/> 

<div class="alert alert-danger" *ngIf="(!Enregistrements || Enregistrements.length < 1) && DisplayNoEnregistrementMessage">
    Oops, aucun enregistrement n'a été trouvé. Essayez peut-être avec moins de filtres!
</div>
<ng-container class="centered" *ngFor="let Enregistrement of Enregistrements">
    <div class="mx-auto col-sm-8">
        <div class="row">
            <div class="col-sm-3"><b>Continent :</b> {{Enregistrement.BossZone.Zone.ContinentFR}}</div>
            <div class="col-sm-5"><b>Zone :</b> {{Enregistrement.BossZone.Zone.ZoneFR}}</div>
            <div class="col-sm-4"><b>Boss :</b> {{Enregistrement.BossZone.Boss.NomFR}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4"><b>Posteur :</b> {{Enregistrement.Utilisateur.Pseudo}}
            </div>
            <div class="col-sm-7"><b>Team :</b> {{Enregistrement.Team.Classe1.NomFR}} - {{Enregistrement.Team.Classe2.NomFR}} - {{Enregistrement.Team.Classe3.NomFR}} - {{Enregistrement.Team.Classe4.NomFR}}</div>
            
        </div>
        <div class="row">
            <img [src]="Enregistrement.ImagePath1" height="390px"> 
            <img [src]="Enregistrement.ImagePath2" height="390px">  
            <img [src]="Enregistrement.ImagePath3" height="390px">  
            <img [src]="Enregistrement.ImagePath4" height="390px">
        </div>
        <div class="row">
            <ng-container *ngIf="accessUser">
            <img *ngIf="DisplayFavori(Enregistrement.Id)" src="../assets/images/fav.png" height="30px" (click)="retraitFavori(Enregistrement.Id)">
            <img *ngIf="!DisplayFavori(Enregistrement.Id)" src="../assets/images/nofav.png" height="30px" (click)="mettreFavori(Enregistrement.Id)" >
            <img *ngIf="DisplayVote(Enregistrement.Id) != 1 " src="../assets/images/plus.png" height="30px" (click)="VotePlus(Enregistrement.Id)">
            <img *ngIf="DisplayVote(Enregistrement.Id) != 0" src="../assets/images/croix.png" height="30px" (click)="DeleteVote(Enregistrement.Id)">
            <img *ngIf="DisplayVote(Enregistrement.Id) != -1" src="../assets/images/moins.png" height="30px" (click)="VoteMoins(Enregistrement.Id)">
            </ng-container>
        <div class="col-sm-2"><b>Note :</b> {{Enregistrement.Note}}</div>
    </div>
    </div>
    <hr/>
</ng-container>
