<br/>
<h2>{{ 'ADMINUSER.TITLE' | translate }}</h2>
<br/>
<!-- Search Options -->
<form [formGroup]="SearchForm" (ngSubmit)="search()" class="form-group">
    <div class="row">
        <label class="col-sm-2 col-form-label">{{ 'ADMINUSER.MAIL' | translate }} :</label>
        <div class="col-sm-2">
            <input id="mail" type="text" class="form-control" formControlName="mail">
        </div>
        <label class="col-sm-2 col-form-label">{{ 'ADMINUSER.USERNAME' | translate }} :</label>
        <div class="col-sm-2">
            <input id="username" type="text" class="form-control" formControlName="username">
        </div>
        <label class="col-sm-1 col-form-label">{{ 'KEYWORD.ROLE' | translate }} : </label>
        <select class="form-control col-sm-2" formControlName="role" id="role">
            <option value=""></option>
            <option *ngFor="let Role of SelectRole" value={{Role}}>{{Role}}</option>
        </select>
    </div>
    <br/>
    <!-- Search Button -->
    <div class="col-sm-12 mx-auto form-group row" style="width: 300px;">
        <button type="submit" [disabled]="!SearchForm.valid" class=" btn btn-secondary btn-lg">{{ 'ADMINUSER.SEARCH' | translate }}</button>
    </div>
</form>
<hr/>
<br/>
<!-- Edit Form -->
<ng-container *ngIf="edit">
    <form [formGroup]="EditForm" (ngSubmit)="Update()" class="form-group">
        <!-- id hidden Field -->
        <input id="id" type="text" class="form-control" formControlName="id" hidden>
        <!-- username Field -->
        <div class="col-sm-12 form-group row">
            <label class="col-sm-4 col-form-label">{{ 'KEYWORD.USERNAME' | translate }} : </label>
            <div class="col-sm-8">
                <input id="username" type="text" class="form-control" formControlName="username">
            </div>
        </div>
        <!-- Validation username message -->
        <div *ngIf="EditForm.controls.username.invalid && (EditForm.controls.username.dirty || EditForm.controls.username.touched) || displayUsernameTaken" class="alert alert-danger">
            <div *ngIf="EditForm.controls.username.errors?.required">
                {{ 'ERRORMESSAGES.VALIDATORS.USERNAMEREQUIRED' | translate }}
            </div>
            <div *ngIf="EditForm.controls.username.errors?.minlength">
                {{ 'ERRORMESSAGES.VALIDATORS.USERNAMEMIN' | translate }}
            </div>
            <div *ngIf="EditForm.controls.username.errors?.maxlength">
                {{ 'ERRORMESSAGES.VALIDATORS.USERNAMEMAX' | translate }}
            </div>
            <div *ngIf="displayUsernameTaken">
                {{ 'ERRORMESSAGES.VALIDATORS.USERNAMETAKEN' | translate }}
            </div>
        </div>
        <!-- E-mail Field -->
        <div class="col-sm-12 form-group row">
            <label class="col-sm-4 col-form-label">{{ 'KEYWORD.MAIL' | translate }} : </label>
            <div class="col-sm-8">
                <input type="mail" class="form-control" formControlName="mail">
            </div>
        </div>
        <!-- Validation E-mail messages -->
        <div *ngIf="EditForm.controls.mail.invalid && (EditForm.controls.mail.dirty || EditForm.controls.mail.touched)" class="alert alert-danger">
            <div *ngIf="EditForm.controls.mail.errors?.required">
                {{ 'ERRORMESSAGES.VALIDATORS.MAILREQUIRED' | translate }}
            </div>
            <div *ngIf="EditForm.controls.mail.errors?.emailFormat">
                {{ 'ERRORMESSAGES.VALIDATORS.MAILFORMAT' | translate }}
            </div>
        </div>
        <div *ngIf="displayMailTaken" class="alert alert-danger">
            {{ 'ERRORMESSAGES.VALIDATORS.MAILTAKEN' | translate }}
        </div>
        <!-- Role Field -->
        <div class="col-sm-12 form-group row">
            <label class="col-sm-4 col-form-label">{{ 'KEYWORD.ACTIVE' | translate }} : </label>
            <div class="col-sm-8">
                <select class="form-control col-sm-3" formControlName="actif" id="actif">
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
            </div>
        </div>

        <!-- Actif Field -->
        <div class="col-sm-12 form-group row">
            <label class="col-sm-4 col-form-label">{{ 'KEYWORD.ROLE' | translate }} : </label>
            <div class="col-sm-8">
                <select class="form-control col-sm-3" formControlName="role" id="role">
                    <option *ngFor="let Role of SelectRole" value={{Role}}>{{Role}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-12 mx-auto form-group row" style="width: 300px;">
            <button type="submit" [disabled]="!EditForm.valid" class=" btn btn-secondary btn-lg">{{ 'ADMINUSER.EDITUSER' | translate }}</button>
        </div>
    </form>
</ng-container>
<div *ngIf="displayNoUserFound" class="alert alert-danger" role="alert">
    {{ 'ADMINUSER.NOUSERFOUND' | translate }}
</div>
<div *ngIf="displayError" class="alert alert-danger" role="alert">
    {{ 'ERRORMESSAGES.SAVAGEERROR' | translate }}
</div>
<div *ngIf="displaySuccess" class="alert alert-success" role="alert">
    {{ 'SUCCESSMESSAGES.CHANGE' | translate }}
</div>
<br *ngIf=" displayNoUserFound || displayError || displaySuccess "/>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>{{ 'KEYWORD.ID' | translate }}</th>
                <th>{{ 'KEYWORD.USERNAME' | translate }}</th>
                <th>{{ 'KEYWORD.MAIL' | translate }}</th>
                <th>{{ 'KEYWORD.ROLE' | translate }}</th>
                <th>{{ 'KEYWORD.ACTIVE' | translate }}</th>
                <th>{{ 'KEYWORD.EDIT' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let elem of displayUsers">
                <td class="align-middle">{{elem.Id}}</td>
                <td class="align-middle">{{elem.Pseudo}}</td>
                <td class="align-middle">{{elem.Mail}}</td>
                <td class="align-middle">{{elem.Role}} </td>
                <td class="align-middle">{{elem.Actif}}</td>
                <td class="align-middle"><button class="btn btn-primary" type="button" (click)="Edit(elem.Id)">{{ 'KEYWORD.EDIT' | translate }}</button></td>
            </tr>
        </tbody>  
    </table>
    <app-paginator [data]="Users" (PagTableEvent)="getPagTable($event)"></app-paginator>
    <br/><br/><br/>
