.centered
{
    margin-left:auto;
    margin-right:auto;
}
.help
{
    color:grey;
    font-size: small;
}
hr.style {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.img{
    max-width: 100%;
    max-height: 100%;
}
.custom-a{
    border-radius: 20px;
    background-color:rgb(236, 236, 236);
    border: 1px solid rgb(201, 201, 201);
    padding: 10px;
}