<br/>
<h2>
    {{ 'CLASSE.TITLE' | translate }}
</h2>
<br/><br/>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">
        {{ 'CLASSE.LIST' | translate }} :
    </label>
    <select class="form-control col-sm-2" NgModel (change)="changeClasse(Classe)" #Classe>
        <option value="0"></option>
        <option *ngFor="let classe of selectClasse" value={{classe.Id}}>
            <ng-container *ngIf="Lang == 'fr'">{{classe.NameFR}}</ng-container>
            <ng-container *ngIf="Lang == 'en'">{{classe.NameEN}}</ng-container>
        </option>
    </select>
</div>
<ng-container *ngIf="ClasseActive.Id != null">
<br/>
<h4> 
    <ng-container *ngIf="Lang == 'fr'">{{ClasseActive.NameFR}}</ng-container>
    <ng-container *ngIf="Lang == 'en'">{{ClasseActive.NameEN}}</ng-container>
</h4>
<br/>
<p>
    {{ 'CLASSE.ONCONST' | translate }}
</p>


</ng-container>