<br/>
<h2> {{ 'ACTIVATION.TITLE' | translate }}</h2>
<br/>
<p>{{ 'ACTIVATION.ENTERTOKEN' | translate }}</p>
<div class="row">
    <input type="text" class="form-control col-sm-2" [(ngModel)]="Token" name="Token">
    <button type="button" class="btn btn-primary" style="margin-left:30px;" (click)="sendToken()">{{ 'ACTIVATION.SENDTOKEN' | translate }}</button>
</div>
<br/><br/>
<ng-container *ngIf="DisplayValidationOk || DisplayValidationError">
    <div *ngIf="DisplayValidationOk" class="alert alert-success">{{ 'SUCCESSMESSAGES.ACCOUNTACTIVATED' | translate }}</div>
    <div *ngIf="DisplayValidationError" class="alert alert-danger">{{ 'ERRORMESSAGES.WRONGACTIVATIONKEY' | translate }}</div>
</ng-container>

<p>{{ 'ACTIVATION.ACTIVATIONKEYNOTRECEIVED' | translate }}<a class="link" (click)='ResendTokenByEmail()'>{{ 'ACTIVATION.CLICKHERE' | translate }}</a></p>

<ng-container *ngIf="DisplayResendTokenOk || DisplayResendTokenError">
    <div *ngIf="DisplayResendTokenOk" class="alert alert-success">{{ 'SUCCESSMESSAGES.KEYSEND' | translate }}</div>
    <div *ngIf="DisplayResendTokenError" class="alert alert-danger">{{ 'ERRORMESSAGES.SAVAGEERROR' | translate }}</div>
</ng-container>