<br/>
<h2>{{ 'SKILLS.TITLE' | translate }}</h2>
<br/>
<div class="form-group row">
    <label class="col-sm-1 col-form-label">Classe : </label>
    <select class="form-control col-sm-2" NgModel (change)="changeClasse(Classe)" #Classe>
        <option value="0"></option>
        <option *ngFor="let classe of selectClasse" value={{classe.Id}}>{{classe.NomFR}}</option>
    </select>
</div>
<br/>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th style="width: 8%">{{ 'KEYWORD.IMAGE' | translate }}</th>
            <th style="width: 20%">{{ 'KEYWORD.NAME' | translate }}</th>
            <th style="width: 47%">{{ 'KEYWORD.DESC' | translate }}</th>
            <th style="width: 8%">{{ 'KEYWORD.COST' | translate }}</th>
            <th style="width: 17%">{{ 'KEYWORD.ZONE' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of Skills">
            <td><img src="{{element.ImagePath}}"></td>
            <td>
                <ng-container *ngIf="Lang == 'fr'">{{element.NomFR}}</ng-container>
                <ng-container *ngIf="Lang == 'fr'">{{element.NomEN}}</ng-container>
            </td>
            <td>
                <ng-container *ngIf="Lang == 'fr'">{{element.DescFR}}</ng-container>
                <ng-container *ngIf="Lang == 'fr'">{{element.DescEN}}</ng-container>
            </td>
            <td>{{element.Cost}}</td>
            <td>{{element.Location}}</td>
        </tr>
    </tbody>  
</table>
<br/><br/><br/>