<br/>
<h2>Changement de mot de passe</h2>
<br/>
<ng-container *ngIf="MessageOK != '' || MessageNOK != ''">
    <div class="container mx-auto" class="alert alert-success" *ngIf="MessageOK != ''">{{MessageOK}}</div>
    <div class="container mx-auto" class="alert alert-danger" *ngIf="MessageNOK != ''">{{MessageNOK}}</div>
    <br/>
</ng-container>
<form>
    <div class="col-sm-12 form-group row">
        <label class="col-sm-4 col-form-label">Mot de passe actuel : </label>
        <div class="col-sm-8">
            <input type="text" value="{{CurrentPassword}}" class="form-control" [(ngModel)]="CurrentPassword" name="CurrentPassword">
            <br *ngIf="alertCurrentPassword != ''"/>
            <div *ngIf="alertCurrentPassword != ''" class="alert alert-danger" role="alert">
                {{alertCurrentPassword}}
            </div>
        </div>
    </div>
    <div class="col-sm-12 form-group row">
        <label class="col-sm-4 col-form-label">Nouveau mot de passe : </label>
        <div class="col-sm-8">
            <input type="text" value="{{NewPassword}}" class="form-control" [(ngModel)]="NewPassword" name="NewPassword">
            <br *ngIf="alertPassword != ''"/>
                <div *ngIf="alertPassword != ''" class="alert alert-danger" role="alert">
                    {{alertPassword}}
                </div>
        </div>
    </div>
    <div class="col-sm-12 form-group row">
        <label class="col-sm-4 col-form-label">Vérification nouveau mot de passe : </label>
        <div class="col-sm-8">
            <input type="text" value="{{NewPasswordVerif}}" class="form-control" [(ngModel)]="NewPasswordVerif" name="NewPasswordVerif">
            <br *ngIf="alertPasswordVerif != ''"/>
                <div *ngIf="alertPasswordVerif != ''" class="alert alert-danger" role="alert">
                    {{alertPasswordVerif}}
                </div>
        </div>
    </div>
    <div class="col-sm-12 mx-auto form-group row" style="width: 300px;">
        <button (click)="ChangePassword()" type="submit" class=" btn btn-secondary btn-lg">Valider</button>
    </div>
    </form>
    